* {
    box-sizing: border-box;
}
body{
    background-color: grey;
}
h1{
    font-weight: bolder;
}
img{
    height: 400px;
    width: auto;
}
.wrapper{
    width: 1024px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.main-content{
    background-color: bisque;
    padding: 25px;
    height: 750px;
    width: 75%;
}

.centered{
    text-align: center;
    margin: 0 auto 0;
}
.answerbutton{
    margin: 10px;
}