* {
    box-sizing: border-box;
}
body{
    background-color: grey;
}
h1{
    font-weight: bolder;
}
img{
    height: 400px;
    width: auto;
}
.wrapper{
    width: 1024px;
    height: auto;
    margin: 0 auto 0;
}

.main-content{
    background-color: bisque;
    padding: 25px;

}

.centered{
    text-align: center;
    margin: 0 auto 0;
}